<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /develop/Framework/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/(Framework/)?(audio|img|css|js)/(.*)$
    RewriteRule ^(.*)$ index.php?uri=$1
</IfModule>